body{
    margin: 15px;
    font-family: monospace;
}

.PageTitle{
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;  
}

#Charts{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#realChart-area{    
    
    /* margin-left: auto;
    margin-right: auto; */
    
}

.tooltip{
    position      : absolute;
    text-align    : center;
    max-width     : 150px;
    max-height    : 40px;
    padding       : 8px;
    border        : none;
    border-radius : 8px;
    margin-top    : -50px;
    font          : 12px sans-serif;
    background    : black;
    color         : white;
    pointer-events: none;
}

.color{
    color: red;
}

.highlighted{
   color: red;
}

.lines{
    stroke: black;
    stroke-width: 10;
}

.lines path{
    stroke: blue;
    stroke-linejoin: round;
}

#blogDiv{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.pNumbers{   
    font-weight: bold;
}

footer{
    height: 50px;
}

  .yaxis .tick line{
      stroke: black;
      opacity: .5;
      stroke-width: .5px;
  }


  .selectMenue{
    font-size: 12px;
    width: 120px;
  }

  label{
      float: left;
  }

 #dateRangeSlider{
     width: 200px;
     margin: 15px;
 }

  /* test CSS */

  #chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #logo {
    height:50px;
  }
  
  .navbar-brand {
    height: 60px;
    padding: 5px 0px;
  }
  
  .axis {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke-width: 2px;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #F1F3F3;
    stroke: #777;
    stroke-width: 3px;
  }
    
  .hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }
  
  #selections .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }