body{   
    font-family: monospace;
    background-color: #d4d4d4;
}

.PageTitle{
  background-image: url("Proof\ Virus\ Red\ V01.png");
  background-size: contain;
  background-repeat: no-repeat;
    text-align: center;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;  
    
}

.title{
  font-size: 40px;
  color: #F1F3F3;
  padding-top: 50px;
  padding-right: 300px;
}

#dataFilterDiv{   
  display: inline-block;   
}

td {
  /* border: 1px solid #dddddd; */
  text-align: left;  
  width: 250px; 
}

.lableTitle{
  font-size: 15px;
}

#Charts{     
  padding: 15px;   
   margin-top: 15px;
   margin-left: auto;
   margin-right: auto;
  background-color: white;
  border: solid black 3px;
  box-shadow: 0px 0px 8px grey;
  text-align: center;
  min-width: 1000px;
  width: 1200px;
 
}
.dataSelectors{
  padding-left: 80px;
  display: inline-block;
}

#blogDiv{
  border: solid black 3px;
  margin-top: 15px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 8px grey;
}

.covid-19IMG{  
  width: 800px;
}

#SliderLable{
  padding-left: 20px;
  padding-top: 8px;
  font-family: monospace;
  font-size: 12px;
}

.label {
  display: inline-block;
  width: 140px;
  text-align: right;
}


.selectMenue{  
 
}


.tooltip{
    position      : absolute;
    text-align    : center;
    max-width     : 150px;
    min-width     : 150px;
    max-height    : 40px;
    padding       : 8px;
    border        : none;
    border-radius : 8px;
    margin-top    : -50px;
    font          : 12px sans-serif;
    background    : black;
    color         : white;
    pointer-events: none;
}

.color{
    color: red;
}

.highlighted{
   color: red;
}

.lines{
    stroke: black;
    stroke-width: 10;
}

.lines path{
    stroke: blue;
    stroke-linejoin: round;
}

#blogDiv{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.pNumbers{   
    font-weight: bold;
}

footer{
    height: 50px;
}

  .yaxis .tick line{
      stroke: black;
      opacity: .5;
      stroke-width: .5px;
  }


  .selectMenue{
    font-size: 12px;
    width: 120px;
  }

  label{
      float: left;
  }

 #dateRangeSlider{
   
     margin: 5px;
 }

  /* test CSS */

  #chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #logo {
    height:50px;
  }
  
  .navbar-brand {
    height: 60px;
    padding: 5px 0px;
  }
  
  .axis {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke-width: 2px;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #F1F3F3;
    stroke: #777;
    stroke-width: 3px;
  }
    
  .hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }
  
  #selections .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }